.container {
  display: flex;
  padding: 4px 16px;
}

.avatar {
  margin: 0 12px 0 0;
  padding: 4px 0 0;
}

.compose {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
}

.compose__deveet {
  border-radius: 4px;
  font-size: 21px;
  min-height: 110px;
  outline: none;
  resize: none;
  width: 100%;
}

.compose__img {
  align-items: center;
  display: flex;
  margin-top: 10px;
  position: relative;
}
.compose__img button {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 9999px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  height: 32px;
  left: 8px;
  position: absolute;
  top: 8px;
  transition: background-color 0.3s ease;
  width: 32px;
}
.compose__img button:hover {
  background-color: rgb(44, 44, 44);
}
.compose__img img {
  border-radius: 15px;
  height: auto;
  width: 100%;
}
