.deveet {
  display: flex;
  padding: 12px 16px;
  border-bottom: 1px solid #eee;
  transition: background-color 0.2s ease;
}
.deveet:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.avatar {
  margin-right: 12px;
}

.user {
  margin-bottom: 5px;
}
.user > span {
  margin-right: 5px;
}

.content {
  font-weight: 400;
  line-height: 20px;
}
.content > p {
  margin: 0;
}

.img {
  border-radius: 15px;
  height: auto;
  margin-top: 10px;
  width: 100%;
}

.time {
  color: #838383;
}
.time:hover {
  text-decoration: underline;
  text-decoration-color: #838383;
}
