.deveet {
  display: flex;
  padding: 12px 16px;
  border-bottom: 1px solid #eee;
}

.avatar {
  margin-right: 12px;
}

.user {
  margin-bottom: 5px;
}
.user > span {
  margin-right: 5px;
}

.message {
  font-weight: 400;
  line-height: 20px;
}
.message > p {
  margin: 0;
}
