.header {
  height: 49px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
}
.header > h2 {
  font-size: 20px;
  font-weight: 700;
}

.nav {
  position: fixed;
  bottom: 0;
  height: 49px;
  border-top: 1px solid #ccc;
  width: 100%;
}
