.container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.main {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 5px 8px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}

@media (min-width: 520px) {
  .main {
    height: 90vh;
    max-width: 520px;
  }
}
