.section {
  display: grid;
  height: 100%;
  place-content: center;
  place-items: center;
}

.title {
  color: #1da1f2;
  font-size: 35px;
  margin-bottom: 0;
}

.subtitle {
  color: #147fc2;
  font-size: 22px;
  margin-bottom: 26px;
  text-align: center;
}
